html {
  height: 100%;
}

body {
  min-height: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: sans-serif;
}

// colors, styles
$off-black: #444;
$off-white-border: solid 1px #ddd;
$basic-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
$basic-shadow-hover: 0 1.5px 7px rgba(0, 0, 0, 0.2);
$grey: #828282;
$dark-grey: #4A4A4A;
$light-grey: #c5c5c5;
$side-bar-background: #f7f7f7;

// sizes
$side-bar-width: 300px;

// mixins
@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// fonts (download later)
@import url('https://fonts.googleapis.com/css?family=Patua+One');

// pod styles
@import "pod-styles";

// TODO: make files for these 'component' classes

.basic-select {
  font-size: 0.9em;

  .es-control {
    height: 100%;
    border: $off-white-border;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      box-shadow: none;
    }

    .es-input {
      width: calc(100% - 15px);

      input {
        @include ellipsis;        
      }
    }
  }

  .es-options {
    border: $off-white-border;
    box-shadow: none;

    .es-option {
      padding: 10px 12px;
    }
  }

  .es-arrow-zone {
    width: 100%;
    height: 100%;
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;

    .es-arrow {
      position: absolute;
      top: calc(50% + 2px);
      transform: translateY(-50%);
      right: 10px;
    }
  }
}
